* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container,
.post-container {
  display: flex;
  gap: 16px;
  border: 1px solid green;
  margin: 4px auto;
  width: 66.66%;
}

.post-container {
  flex-direction: column;
}

.image-container {
  width: 25%;
  height: min-content;
  border-radius: 50%;
  background-color: aliceblue;
  margin: 4px 12px;
}

.img-contained {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 50%;
}

.txt-container,
.txt-box,
.posts-count {
  display: flex;
}

.txt-container {
  position: relative;
  width: 66.66%;
}

.txt-box {
  align-items: center;
  font-size: x-large;
  font-weight: 800;
}

.posts-count {
  position: absolute;
  bottom: 16px;
  right: 8px;
}

.user-bio,
.user-recent-post {
  text-align: center;
  font-size: 16px;
  border: 1px solid green;
  padding: 12px 4px;
}

.user-recent-post,
.post-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-info {
  margin: auto;
  padding: 12px 0;
}

.user-posts {
  width: 50%;
}

.form-container {
  width: 100%;
  padding: 40px 0;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  gap: 16px;
  margin: auto;
  background-color: rgb(189, 179, 179);
  padding: 40px 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(26, 24, 24, 0.382);
}

.form-blocks {
  width: 100%;
  padding: 2px 4px;
}

.form-input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid gray;
  border-radius: 8px;
}

.primary-btn {
  background-color: rgba(35, 120, 52, 0.709);
  padding: 4px 12px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.form-header {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}